{% extends 'base.html' %}

{% block additional_head %}
    <!-- jQuery -->
    {#  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>#}

    <!-- Bootstrap4 -->
    {#  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}

    <!-- fontawesome5 -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css'>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"
            integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>

    <!-- Autocomplete -->
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

    <!-- JSON-Editor -->
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

    {% for autocomplete_url in autocomplete %}
        <script src="{{ autocomplete_url }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="ui container">
        <div>
            <div id="form_holder"></div>
            <button id="send">Send to FastAPI</button>
            <pre id="result"></pre>
        </div>
    </div>
    <button id="send">Send to FastAPI</button>
    <pre id="result"></pre>
    <script>
      class MyTheme extends JSONEditor.defaults.themes.html {
        getContainer() {
          const el = super.getContainer()
          el.classList.add("ui")
          el.classList.add("form")
          el.classList.add("getContainer")

          return el
        }

        getFormControl(label, input, description) {
          const el = super.getFormControl(label, input, description)
          //el.classList.add("inline")
          el.classList.add("field")
          el.classList.add("getFormControl")
          return el
        }

        getIndentedPanel() {
          const el = super.getIndentedPanel();
          {#el.style = "padding-left: 5px";#}
          el.className = "getIndentedPanel"
          return el;
        }

        getButton(text, icon, title) {
          const el = super.getButton(text, icon, title);
          el.classList.add("ui")
          el.classList.add("small")
          el.classList.add("button")
          return el
        }

        getGridRow() {
          const el = document.createElement('div')
          el.classList.add('ui')
          el.classList.add('getGridRow')

          return el
        }

        getGridColumn() {
          const el = document.createElement('div')
          el.classList.add('getGridColumn')
          return el
        }

        getGridContainer() {
          const el = document.createElement('div')
          el.classList.add('getGridContainer')
          return el
        }

        getBlockLinkHolder() {
          const el = document.createElement('div')
          el.classList.add('getBlockLinkHolder')
          return el
        }

        getLinksHolder() {
          const el = document.createElement('div')
          el.classList.add('getLinksHolder')
          return el
        }
      }

        JSONEditor.defaults.themes.mytheme = MyTheme

        // Initialise autocomplete javascript. Must be function with name "{className}_{fieldName}_search"
        const className = "{{ class_name }}".toLowerCase();
        let schema = {{ schema|safe }};
        const properties = schema.properties;
        for(const prop in properties){
            const element = properties[prop]
            if(element.format == "autocomplete") {
                element["options"]["autocomplete"] = eval(`${className}_${prop}_search`)
            }
        };

        const element = document.getElementById('form_holder');
        const editor = new JSONEditor(element, {
            startval: {{ current|safe }},
            schema: schema,
            theme: 'mytheme',
            iconlib: 'fontawesome5',
            disable_edit_json: true,
            disable_properties: true,
            disable_collapse: true,
        });
        const send_button = document.getElementById('send')
        editor.on('ready', () => {
            editor.validate();
            send_button.addEventListener('click', async () => {
                const res = await fetch('', {method: 'POST', body: JSON.stringify(editor.getValue())})
                result.textContent = (await res.json()).data
            })
        });
        editor.on('change', () => {
            const result = document.getElementById('result');
            result.textContent = JSON.stringify(editor.getValue(), "", 2)
        });
    </script>

{% endblock %}
