{% extends 'base.html' %}

{% block additional_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json-editor/0.7.28/jsoneditor.min.js" integrity="sha256-51+oMmpgSgS4jV5/DcGKnDHIOL6Jeie2i7ka6sPQVro=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div id="form_holder"></div>
<button id="send">Send to FastAPI</button>
<pre id="result"></pre>
<script>
const element = document.getElementById('form_holder');
const editor = new JSONEditor(element, {
    startval: {{ current|safe }},
    schema: {{ schema|safe }},
    disable_edit_json: true,
    disable_properties: true,
    disable_collapse: true
});
const send_button = document.getElementById('send')
editor.on('ready',() => {
  editor.validate();
    send_button.addEventListener('click', async () => {
        const res = await fetch('', {method: 'POST', body: JSON.stringify(editor.getValue())})
        result.textContent = (await res.json()).data
    })
});
editor.on('change',() => {
  const result = document.getElementById('result');
  result.textContent = JSON.stringify(editor.getValue(),"", 2)
});
</script>

{% endblock %}